@import url("https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap");

body {
    background-color: rgb(255, 253, 245);
    font-size: 25px;
    font-family: karla;
    color: #2b2b2b;
    text-decoration: none;
    display: flex;
    justify-content: center;
    line-height: 170%;
    }

.style-1 {
    font-size: 30px;
    font-family: karla; 
    color: #2b2b2b;
}

#container {
    position: center;
    margin-left: 2%;
    margin-top: 5%;
    /* background-color: seagreen; */
    width: 80%;
}

#container-2 {
    position: center;
    margin-left: 15%;
    margin-top: 5%;
    /* background-color: seagreen; */
    width: 80%;
}

#container-3 {
    position: center;
    margin-left: 15%;
    margin-top: 5%;
    /* background-color: seagreen; */
    width: 80%;
    line-height: 100%;
}

#container-4 {
    position: center;
    margin-left: 15%;
    margin-top: 5%;
    /* background-color: seagreen; */
    width: 80%;
    line-height: 100%;
}

#container-5 {
    position: center;
    margin-right: 15%;
    margin-top: 5%;
    /* background-color: seagreen; */
    width: 80%;
    line-height: 100%;
}

#container-6 {
    position: center;
    margin-right: 15%;
    margin-top: 5%;
    /* background-color: seagreen; */
    width: 80%;
    line-height: 250%;
}

a:link {
    text-decoration: none;
    color: rgb(255, 0, 128);
}

a:visited{
    color: rgb(255, 0, 128);
}

a:active{
    color: rgb(255, 0, 128);
}

a:hover{
    color: rgb(0, 235, 156);
}

a#velcro-hover:hover {
    color: rgb(255, 247, 0);
}

.hvr-grow {
    font-family: karla;
    top:10%;
    left:10%;
    display:inline-block;
    -webkit-transform:translateZ(0);
    transform:scale(.6) translateZ(0) translateX(-10%) translateY(-10%);
    font-size:25px;
    -webkit-transition:transform 400ms;
    transition:transform 400ms;
 }
 
 .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    transform:scale(1)
 }


.hvr-grow-2 {
    font-family: karla;
    top:5%;
    left:5%;
    display:inline-block;
    -webkit-transform:translateZ(0);
    transform:scale(1.5) translateZ(0) translateX(-10%) translateY(-10%);
    font-size:25px;
    -webkit-transition:transform 400ms;
    transition:transform 400ms;
 }
 
 .hvr-grow-2:hover, .hvr-grow:focus, .hvr-grow:active {
    transform:scale(1)
 }

 .hvr-grow-3 {
    font-family: karla;
    top:10%;
    left:10%;
    display:inline-block;
    -webkit-transform:translateZ(0);
    transform:scale(.6) translateZ(0) translateX(-10%) translateY(-10%);
    font-size:60px;
    -webkit-transition:transform 400ms;
    transition:transform 400ms;
 }
 
 .hvr-grow-3:hover, .hvr-grow:focus, .hvr-grow:active {
    transform:scale(1)
 }

 .hvr-grow-4 {
    position:sticky;
    font-family: karla;
    top:10%;
    left:10%;
    display:inline-block;
    -webkit-transform:translateZ(0);
    transform:scale(.9) translateZ(0) translateX(-20%) translateY(-20%);
    font-size:60px;
    -webkit-transition:transform 400ms;
    transition:transform 400ms;
 }
 
 .hvr-grow-4:hover, .hvr-grow:focus, .hvr-grow:active {
    transform:scale(1)
 }

 .hvr-grow-5 {
    position:sticky;
    font-family: karla;
    top:10%;
    left:10%;
    display:inline-block;
    -webkit-transform:translateZ(0);
    transform:scale(.9) translateZ(0) translateX(-20%) translateY(-20%);
    font-size:50px;
    -webkit-transition:transform 400ms;
    transition:transform 400ms;
 }
 
 .hvr-grow-5:hover, .hvr-grow:focus, .hvr-grow:active {
    transform:scale(2)
 }

 .hvr-grow-6 {
    position:sticky;
    font-family: karla;
    top:10%;
    left:10%;
    display:inline-block;
    -webkit-transform:translateZ(0);
    transform:scale(.9) translateZ(0) translateX(-20%) translateY(-20%);
    font-size:50px;
    -webkit-transition:transform 400ms;
    transition:transform 400ms;
 }
 
 .hvr-grow-6:hover, .hvr-grow:focus, .hvr-grow:active {
    transform:scale(3)
 }

