@import url("https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap");

body {
    background-color: rgb(255, 253, 245);
    font-size: 22px;
    font-family: karla;
    color: #2b2b2b;
    text-decoration: none;
    }

h1 {
    font-family: karla;
    font-size: 50px;
    color: rgb(255, 0, 128);
    letter-spacing: -1px;
    text-align: left;
    margin-left: 3%;
    margin-top: 3%;
    text-shadow: 1px 1px #ffffff;
    line-height: 50px;
}

h2 {
    font-family: karla;
    font-size: 42px;
    color: rgb(255, 0, 128);
    letter-spacing: -1px;
    text-align: center;
    margin-top: 50px;
    text-shadow: 1px 1px #ffffff;
    line-height: 50px;
}

.list {
    font-size: 20px;
    font-family: karla;
    color: rgb(255, 0, 128);
    line-height: 70%;
}

a:link {
    text-decoration: none;
    color: rgb(255, 0, 128);
}

a:visited{
    color: rgb(255, 0, 128);
}

a:active{
    color: rgb(255, 0, 128);
}

a:hover{
    color: rgb(0, 235, 156);
}

#grid-container1 {
    position: center;
    margin-left: 44%;
    margin-top: 3%;
    /* background-color: seagreen; */
    margin-right: auto;
    width: 43%;
}

#grid-container2 {
    position: absolute;
    left: 15%;
    top: 17%;
    /* background-color: seagreen; */
    width: 20%;
}